<div id="hbAnagram">
    <p class="hbAnagram"><strong>Scrambled Name:</strong> {{hbAnagram}}</p>
    <p class="hbAnagram">
        Brought to you by string split into array, Fisher-Yates shuffled and reduced.
    </p>
</div>
